# Tavily Search API Key (https://tavily.com)
TAVILY_API_KEY=your_tavily_api_key_here

# Hugging Face Token (https://huggingface.co/settings/tokens)
HUGGINGFACEHUB_API_TOKEN=your_huggingface_token_here

# Server Port
PORT=5000

# MongoDB Connection String (Local or MongoDB Atlas)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/genai_research?retryWrites=true&w=majority
